<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'tweets'}}Tweets{{/link-to}}</li>
      <li>{{#link-to 'tweets'}}Home{{/link-to}}</li>
      <li>{{#link-to 'tweets'}}Notifications{{/link-to}}</li>
      <li>{{#link-to 'tweets'}}Messages{{/link-to}}</li>
      <li>{{#link-to 'tweets'}}Discover{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

</div>
